{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}

    <div class="card">

        <nav class="no-print" aria-label="breadcrumb">
            <ol class="breadcrumb m-15 ">
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:minhas_turmas' %}">Minhas Turmas</a></li>
                <li class="breadcrumb-item"><a href="#">Minhas Aulas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
            </ol>
        </nav>

        <br>
        <h1 class="font-dosis fw-500 text-center">Detalhes da Aula</h1><br>
        <br>

        <div class="row">


            <div class="card-body card-round tabelaSemflow flowww" style="margin: 50px">
                <div class="form-group text-uppercase">
                    <hr class="hr-sm mb-2">
                    <br>
                    <li style="list-style-type: none" class="text-left"><strong>Data:</strong>
                        {{ idAula.data }}</li>
                    <li style="list-style-type: none" class="text-left"><strong>Situação:</strong>
                        {% if idAula.situacao %} Aberto {% else %} Finalizado {% endif %}</li>
                    <li style="list-style-type: none" class="text-left"><strong>Avaliação:</strong>
                        {{ idAula.avaliacaoAula }}</li>

                    <strong>Titulo:</strong>
                    {{ idAula.titulo }}
                    <br><br>
                    <hr class="hr-sm mb-2">

                    <br>
                    <div class="form-group">
                        <strong>CONTEÚDO:</strong><br><br>

{#                        <textarea  disabled required  data-provide="quill"#}
{#                                          data-min-height="200" id="conteudoAula" name="conteudo"#}
{#                                   class="form-control visivel border border-dark text-dark rounded">{{ idAula.conteudo }}</textarea>#}

                        <div>{{ idAula.conteudo }}</div>


{#                        <textarea disabled contenteditable="false"#}
{#                                  style="background-color: #e8e8e8"#}
{#                                  data-provide="summernote"#}
{#                                  data-min-height="180" id="hh"#}
{#                                  name="conteudo"#}
{#                                  aria-disabled="true">{{ idAula.conteudo }}</textarea>#}
                    </div>

                </div>
            </div>
        </div>

        <footer class="card-footer text-right no-print">
            <a onclick="window.history.back();" class="btn btn-secondary"
               type="reset">Voltar</a>
        </footer>

    </div>

{% endblock %}