{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}
    <div style="background-color: #e8e8e8" class="main-content">

        <h1 class="font-dosis fw-500">Cadastro da Aula</h1><br>

{#        <div class="row">#}

    <form style="padding-right: 15px" id="formulario" class="card" action="{% url 'pedagogico:cadastrar_aulas' %}" method="post">
     {% csrf_token %}

            <div class="col-md-4 text-right">
                <div class="card card-round card-body">
                    <div class="form-group">
                        <h5 align="left"><strong>Data</strong></h5>
                        <input style="background-color: #e8e8e8" type="text" class="form-control"
                               data-provide="datepicker" data-date-today-highlight="true" id="dataAula" name="data">
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">
                <div class="card card-round card-body">
                    <div class="form-group">
                        <h5 align="left"><strong>Hora</strong></h5>
                        <input style="background-color: #e8e8e8" type="text" class="form-control"
                               data-provide="timepicker" data-show-meridian="false" name="hora">
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card card-round card-body">
                    <div class="form-group">
                        <h5 align="left"><strong>Turma</strong></h5>
                        <select style="background-color: #e8e8e8" data-provide="selectpicker" multiple name="turma">
                            {% for turma in turmas %}
                                <option>{{ turma.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 ">
                <div class="card card-round card-body">
                    <div class="form-group">
                        <h5 align="left"><strong>Conteúdo</strong></h5>
                        <textarea style="background-color: #e8e8e8" data-provide="summernote"
                                  data-min-height="150" id="conteudoAula" name="conteudo"></textarea>
                    </div>
                </div>
            </div>
{#        </div>#}

        <div class="text-right">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
    </form>

        <h1 class="font-dosis fw-500">Lista das Aulas</h1><br>

        <div class="col-12 ">
            <div class="card card-round card-body">
                <div class="form-group">


                    <table class="table table-striped table-bordered table-responsive bs-select" cellspacing="0"
                           data-provide="datatables">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Turma</th>
                            {#                          <th>Professor</th>#}
                            <th>Conteúdo</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Data</th>
                            <th>Turma</th>
                            {#                          <th>Professor</th>#}
                            <th>Conteúdo</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for aula in aulas %}

                            <tr>
                                <td>{{ aula.data.day }}/{{ aula.data.month }}/{{ aula.data.year }}</td>
                                <td>{{ aula.turma.nome }}</td>
                                {#                          <td>{{aula.turma.}}</td>#}
                                <td>{{ aula.conteudo }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>
{% endblock %}
