{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}
    <div class="card">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-15">
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:minhas_turmas' %}">Minhas Turmas</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:listar_aulas' turma %}">Minhas Aulas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastrar Aula</li>
            </ol>
        </nav>

        <br>
        <h1 class="font-dosis fw-500 text-center">Cadastro da Aula</h1><br>
        <br>
        <div class="card-body">
            <form id="formulario" class="card" action="{% url 'pedagogico:cadastrar_aulas' %}"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="id_turma" value="{{ turma }}">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Data &nbsp;</label><i style="color: red">*</i>
                            <div class="form-group">
                                <input required name="dataAula" class="form-control visivel border border-dark text-dark rounded" type="date">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="form-check form-check-inline">

                                <label>Situação &nbsp;</label><i style="color: red">*</i><br>
{#                                <div class="color-selector">#}

                                    <label>
                                        <input required type="radio" id="s1" name="situacao" title="Aberto" value="aberto">
                                        <span title="Aberto"></span><label for="s1">ABERTO</label>
                                    </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input required type="radio" id="s2" name="situacao" value="finalizado">
                                        <span title="Finalizado"></span><label for="s2">FINALIZADO</label>
                                    </label>
{#                                </div>#}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="form-group">
                            </b><label>Titulo &nbsp;</label><i style="color: red">*</i>
{#                            <div class="card-body card-round tabelaSemflow flowww">#}
                                <input required name="tituloAula" class="form-control visivel border border-dark text-dark rounded" type="text"
                                       placeholder=" Nomeie suas aulas">
{#                            </div>#}
                        </div>
                    </div>

                     <div class="col-lg-6 col-md-6 col-sm-12">
{#                            <div class="card-body card-round tabelaSemflow flowww">#}


                                <div class="form-group">
                                    <label>Avaliação da Aula</label>
                                    <textarea class="form-control visivel border border-dark text-dark rounded" id="textarea" rows="2" name="avaliacao"></textarea>
                                </div>
{#                            </div>#}
                        </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card-body card-round tabelaSemflow flowww border-dark text-dark">
                            <div class="form-group border-dark text-dark">
                                <label>Conteúdo &nbsp;</label><i style="color: red">*</i>
                                <textarea  required  data-provide="quill"
                                          data-min-height="200" id="conteudoAula" name="conteudo" class="form-control visivel border border-dark text-dark rounded"></textarea>
                            </div>
                        </div>

                    </div>

                </div>


                <footer class="card-footer text-right">
                    <a href="{% url 'pedagogico:listar_aulas' turma %}" class="btn btn-secondary"
                       type="reset">Cancelar</a>
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </footer>
            </form>
        </div>
        <br>
    </div>

{% endblock %}
