{% extends "pedagogico/layout/layout_base.html" %} <!--Extendendo o bloco criado-->
<!--Iniciando o bloco-->
{% block main %}

    <div class="card">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-15">
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a onclick="window.history.back();">Turmas - Coordenação</a></li>
                <li class="breadcrumb-item active" aria-current="page">Criar Turmas - Coordenação</li>
            </ol>
        </nav>

        <br>
        <h1 class="font-dosis fw-500 text-center">Cadastro da Turma</h1><br>
        <br>


        <form style="padding-right: 15px" id="formmm" class="card-body" action="{% url 'pedagogico:cadastrar_turmas' %}"
              method="post">
            {% csrf_token %}


            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="form-group">
                        <label>Nome &nbsp;</label><i style="color: red">*</i>
                        <input required name="nome" class="form-control visivel border border-dark text-dark rounded"
                               type="text" placeholder=" Nome da Turma">
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="form-group">
                        <label>Professor</label><br>
                        <select data-provide="selectpicker" name="professor"
                                class="form-control visivel border border-dark text-dark rounded">
                            {% for professor in professores %}
                                <option>{{ professor.user.first_name }} {{ professor.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Turno &nbsp;</label><i style="color: red">*</i><br>

                        <div class="form-check form-check-inline">

                            <label class="custom-control custom-radio">
                                <input required type="radio" class="custom-control-input" value="manha"
                                       id="inlineCheckbox1" name="turno">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Manhã</span>
                            </label>

                            <label class="custom-control custom-radio">
                                <input required type="radio" class="custom-control-input" value="tarde"
                                       id="inlineCheckbox2" name="turno">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Tarde</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="card-footer text-right">
                <a href="{% url 'pedagogico:listar_turmas' %}" class="btn btn-secondary" type="reset">Cancelar</a>
                <button class="btn btn-primary" type="submit">Registrar</button>
            </footer>
        </form>
    </div>

{% endblock %}
