{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}
    <div style="background-color: #e8e8e8" class="main-content">
        <div class="row">

          <h1 class="font-dosis fw-500">Cadastro da Turma</h1><br>
                <div class="col-12 text-center">
                    <div class="card card-round card-body">
                      <h4 align="left"><strong>Nome</strong></h4>
                      <label for="input-normal"></label>
                      <input type="text" class="form-control" id="input-normal" placeholder="Nome da Turma">
                    </div>
                  </div>

                <div class="col-6 text-center">
                    <div class="card card-round card-body">

                        <h4 align="left"><strong>Professor</strong></h4>
                        <select data-provide="selectpicker" multiple>
                            {% for professor in professores %}
                                <option>{{professor.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-6 text-center">
                    <div class="card card-round card-body">

                        <h4 align="left"><strong>Turno</strong></h4>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="manha"> Manhã &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                          </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tarde"> Tarde
                            </label>
                        </div>
                    </div>
                 </div>

          </div>
                    <div class="text-right">
{#                      <button class="btn btn-secondary" type="submit">Cancelar</button>#}
                        <button class="btn btn-primary" type="submit">Registrar</button>
                    </div>
        </div>
{% endblock %}
