{% extends 'pedagogico/layout/layout_base.html' %}

{% block main %}
    <div class="card">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-15">
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:listar_triagemSocial' %}">Triagem Social</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Triagem Pedagógica</li>
            </ol>
        </nav>

        <br>
        <h1 class="font-dosis fw-500 text-center">Triagem Pedagógica</h1>
        <br>

       <div class="card-body card-round">

            <form id="formulario" class="card-body"
                  action="{% url 'pedagogico:cadastro_triagemP' %}"
                  method="post">
                {% csrf_token %}

                <h4 class="text-uppercase mt-3 text-left">Informações Básicas</h4>

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Usuário</label>
                            <input type="hidden" value="{{ Triagem.usuario.id }}" name="usuario"></input>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.usuario.nome }}" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>CID</label>

                            <input type="hidden" value="{{ Triagem.usuario.cid }}" name="cidUsuario"></input>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.usuario.cid }}" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Pai</label>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.nome_pai }}" disabled="disabled" name="pai">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Mãe</label>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.nome_mae }}" disabled="disabled" name="mae">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Telefone</label>

                            <input type="hidden" value="{{ Triagem.telefone }}" name="telefoneContato"></input>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.telefone }}" disabled="disabled">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Celular</label>

                            <input type="hidden" value="{{ Triagem.celular }}" name="celularContato"></input>
                            <input style="color:#000;" type="text" class="form-control"
                                   value="{{ Triagem.celular }}" disabled="disabled">
                        </div>
                    </div>
                </div>

                <br>
                <h4 class="text-uppercase mt-3 text-left">Informações Especificas</h4>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Alimentação</label>
                            <input class="form-control" type="text" id="alimentacao" name="alimentacao"
                                   placeholder="Alimentação"></input>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Controle Urináro</label><br>

                            <div class="form-check form-check-inline">

                                <div class="form-check form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="sim" name="urinario">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Sim</span>
                                    </label>

                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="nao" name="urinario">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Não</span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Controle Esfíncter</label><br>
                            <div class="form-check form-check-inline">

                                <div class="form-check form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="sim" name="esfincter">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Sim</span>
                                    </label>

                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="não" name="esfincter">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Não</span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>A criança passa a maior parte do tempo com:</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="input-normal" name="cuidador"
                                       placeholder="Cuidador">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Turno na APAE</label><br>

                            <div class="form-check form-check-inline">

                                <div class="form-check form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="manha" name="turno">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Manhã</span>
                                    </label>

                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="tarde" name="turno">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Tarde</span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Quem toma as decisões a respeito da criança:</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="input-normal" name="responsavel"
                                       placeholder="Responsável">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                        <div class="form-group">
                            <label>Dias na APAE</label><br>

                            <div class="form-check form-check-inline">

                                <label class="custom-control custom-control-lg custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkboxsize"
                                           value="segunda" id="segunda">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Segunda</span>
                                </label>

                                <label class="custom-control custom-control-lg custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkboxsize"
                                           value="terça" id="terca">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Terça</span>
                                </label>


                                <label class="custom-control custom-control-lg custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkboxsize"
                                           value="quarta" id="quarta">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Quarta</span>
                                </label>


                                <label class="custom-control custom-control-lg custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkboxsize"
                                           value="quinta" id="quinta">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Quinta</span>
                                </label>


                                <label class="custom-control custom-control-lg custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkboxsize"
                                           value="sexta" id="sexta">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Sexta</span>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Composição familiar:</label>
                            <input type="text" class="form-control" id="input-normal" name="composicaoFamiliar">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Dorme com quem:</label>
                            <input type="text" class="form-control" id="input-normal" name="dormeCom">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Horário de Dormir</label>
                            <input type="text" class="form-control"
                                   data-provide="timepicker" data-show-meridian="false" name="horaDormir">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Horário de Acordar</label>
                            <input type="text" class="form-control"
                                   data-provide="timepicker" data-show-meridian="false" name="horaAcordar">
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>OBS:</label>
                            <textarea class="form-control" id="textarea" rows="3" name="observacao"></textarea>
                        </div>
                    </div>

                </div>


                <br>
                <h4 class="text-uppercase text-left">Aspectos de Desenvolvimento</h4>
                <br>

                <div class="form-group">
                    <table class="table table-bordered border-dark text-dark tabelaesticada">
                        <thead>
                        <tr class="text-uppercase" style="background-color: #e5e5e5">
                            <th class="border-dark text-dark text-center"><b>Questão</b></th>
                            <th class="w-150px text-center border-dark text-dark"><b>Ação</b></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Fala Bem</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline ">

                                    <div class="form-group mb-0 pr-0 ">
                                        <select class="form-control" id="select" name="fala">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Comunica-se utilizando gestos</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="gestos">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Apresenta gagueira</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="gago">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Enxerga Bem</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="enxerga">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Usa a mão direita</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="direita">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Usa a mão esquerda</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">
                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="esquerda">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Faz balbucio</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="balbucio">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <h4 class="text-uppercase text-left">Aspecto Fisico Motor</h4>
                <br>
                <div class="form-group ">
                    <table class="table table-bordered border-dark text-dark tabelaesticada">
                        <thead>
                        <tr class="text-uppercase border-dark text-dark" style="background-color: #e5e5e5">
                            <th class="text-center border-dark text-dark"><b>Questão</b></th>
                            <th class="w-150px text-center border-dark text-dark"><b>Ação</b></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Anda naturalmente</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="anda">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Segura corretamente o lápis</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="segura">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Senta corretamente</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="senta">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Cai muito</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="cai">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Cansa facilmente</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="cansa">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <h4 class="text-uppercase text-left">Aspecto Emocional</h4>
                <br>
                <div class="form-group">
                    <table class="table table-bordered tabelaesticada border-dark text-dark">
                        <thead>
                        <tr style="background-color: #e5e5e5" class="text-uppercase">
                            <th class="border-dark text-dark text-center"><b>Questão</b></th>
                            <th class="w-150px text-center border-dark text-dark"><b>Ação</b></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Demonstra afeto</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="demonstra">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Solicita afeto</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="solicita">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>É medroso</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="medroso">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>É agressivo</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="agressivo">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Reage quando contrariado</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="reage">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Possui algum tique</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="tique">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Chora com facilidade</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="chora">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h4 class="text-uppercase text-left">Aspecto Social</h4>
                <br>

                <div class="form-group">
                    <table class="table table-bordered tabelaesticada border-dark text-dark">
                        <thead>
                        <tr class="text-uppercase" style="background-color: #e5e5e5">
                            <th class="text-center border-dark text-dark"><b>Questão</b></th>
                            <th class="w-150px text-center border-dark text-dark"><b>Ação</b></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Sabe esperar sua vez</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="espera">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Obedece as ordens dadas</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="obedece">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Procura fazer amizades</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="amizades">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Isola-se</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="isola">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Divide suas coisas</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="divide">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Se relaciona com o grupo</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="relaciona">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <h4 class="text-uppercase text-left">Aspecto Intelectual</h4>
                <br>
                <div class="form-group">
                    <table class="table table-bordered tabelaesticada border-dark text-dark table-responsive">
                        <thead>
                        <tr class="border-dark text-dark text-uppercase" style="background-color: #e5e5e5">
                            <th class="border-dark text-dark text-center"><b>Questão</b></th>
                            <th class="w-150px text-center border-dark text-dark"><b>Ação</b></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Pronucia corretamente as palavras</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="pronucia">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Expressa seu pensamento de forma clara</b>
                            </td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="expressa">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Consegue transmitir recados</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="recado">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" class="border-dark text-dark"><b>Atenta para instruções fazendo o que é
                                pedido</b></td>
                            <td class="border-dark text-dark">
                                <div class="form-check form-check-inline">

                                    <div class="form-group mb-0">
                                        <select class="form-control" id="select" name="instrucoes">
                                            <option></option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                            <option>Às vezes</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>


                <div class="row">

                    <div class="col-lg-12 col-md-6 col-sm-12 text-left">


                        <div class="form-group">
                            <label><b>Descrição do usuário</b></label>
                            <textarea class="form-control" id="textarea" rows="4" name="descricao"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Turma</label>
                            <select class="form-control" id="select" name="turmaTriagem">
                                {% for turma in Turmas %}
                                    <option>{{ turma.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 text-left">


                        <div class="form-group">
                            <label>Data da Triagem:</label>
                            <input style="color:#000;" type="text" class="form-control"
                                   id="dataTriagem" disabled>
                            <input type="hidden" name="data" id="data">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 text-left">

                        <div class="form-group">
                            <label>Triagem realizada com:</label>
                            <input type="text" class="form-control" name="responsavelTriagem">
                        </div>
                    </div>

                </div>


                <footer class="card-footer text-right">
                    <a href="{% url 'pedagogico:listar_triagemSocial' %}" class="btn btn-secondary" type="reset">Cancelar</a>
                    <button class="btn btn-primary" type="submit">Realizar</button>
                </footer>
            </form>
        </div>
    </div>

    </div>

    <script type="text/javascript">
        data = new Date();
        document.getElementById('dataTriagem').value = data.toLocaleString();

    </script>

{% endblock %}

