{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}

    <div class="card">

        <br>
        <h1 class="font-dosis fw-500">Edição da Aula</h1><br>
        <br>

        <form style="padding-right: 15px" id="formulario" class="card" action="{% url 'pedagogico:cadastrar_aulas' %}"
              method="post">
            {% csrf_token %}


            <inpu type="text" name="id" value="{{ aula.id }}" style="display: none;"></inpu>

            <label><b>Data</b></label>
            <div class="form-group">
                <input name="dataAula" type="text" value="{% if aula.data.day < 10 %} 0{{ aula.data.day}} {% else %} {{ aula.data.day}} {% endif %}/{% if aula.data.month < 10 %} 0{{aula.data.month}} {% else %} {{aula.data.month}} {% endif %}{{ aula.data.year }}"
                       data-format="&#123;&#123;99&#125;&#125;/&#123;&#123;99&#125;&#125;/&#123;&#123;9999&#125;&#125;">
            </div>


            <label><b>Turma</b></label>
            <div class="form-group">
                <select style="background-color: #e8e8e8" data-provide="selectpicker" multiple name="turma">
                    {% for turma in turmas %}
                        <option>{{ turma.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <label>Situação</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" id="inlineCheckbox1" name="situacao" {% if aula.situacao %} checked {% endif %}> Aberto
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineCheckbox2" name="situacao" {% if not aula.situacao %} checked {% endif %}> Finalizado
                </label>
            </div>

            <br>
            <h4 class="text-uppercase">Conteúdo</h4>
            <br>

             <label>Titulo</label>
            <div class="form-group">
                <input id="tituloAula" type="text" name="tituloAula" size="50" value="{{ aula.titulo }}"></input><br><br>
                <textarea style="background-color: #e8e8e8" data-provide="summernote"
                          data-min-height="150" id="conteudoAula" name="conteudo">{{ aula.conteudo }}</textarea>
            </div>

            <label>Avaliação da Aula</label>
            <div class="form-group">
                <input id="avaliacaoAula" type="text" name="avalicao" size="70"></input>
            </div>

            <div class="text-right">
                <button style="margin-bottom: 15px" class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </form>
        <br>
    </div>


{% endblock %}