{% extends "pedagogico/layout/layout_base.html" %}
{% block main %}
    <div class="card">

        <br>
        <h1 class="font-dosis fw-500">Frequência</h1><br>
        <br>

        <div class="row">

            <div class="col-md-4  text-center">
{#                <div class="card card-round card-body">#}

                    <h5 ><strong>Turma</strong></h5>
                    <select data-provide="selectpicker" multiple>
                        {% for turma in turmas %}
                            <option>{{ turma.nome }}</option>
                        {% endfor %}
                    </select>
{#                </div>#}
            </div>

            <div class="col-md-4  text-center">
{#                <div class="card card-round card-body">#}

                    <h5 ><strong>Aula</strong></h5>
                    <select data-provide="selectpicker" multiple>
                        {% for aula in aulas %}
                            <option>{{ aula.titulo }}</option>
                        {% endfor %}
                    </select>
{#                </div>#}
            </div>

            <div class="col-md-4  text-center">
                {#                <div class="card card-round card-body">#}
                <div class="form-group">
                    <h5><strong>Data:</strong></h5>
                    <input name="datainicio" type="text"
                           data-format="&#123;&#123;99&#125;&#125;/&#123;&#123;99&#125;&#125;/&#123;&#123;9999&#125;&#125;">
                </div>
                {#                </div>#}
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        {#                <h5 class="card-title"><strong>Chamada</strong></h5>#}
                        {#                <a class="btn btn-xs btn-light" href="#">See all</a>#}
                    </div>

                    <table class="table table-hover table-has-action table-responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th class="w-80px text-center">Ação</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td align="left">{{ usuario.nome }}</td>
                                <td align="left"><span
                                        class="label label-pill label-default">{{ usuario.data_nacimento| date:"d / M / Y" }}</span>
                                </td>
                                <td align="rigth">
                                    <nav class="nav no-gutters gap-2 fs-16">
                                        <label class="form-check-label form-check-inline">
                                            <label class="switch switch-lg">
                                                <input type="checkbox" name="presenca">
                                                <span class="switch-indicator"></span>
                                                <span class="switch-description">Presença</span>
                                            </label>

                                        </label>
                                    </nav>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <footer class="card-footer text-right">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </footer>
    </div>

{% endblock %}
