{% extends "pedagogico/layout/layout_base.html" %}

{% block main %}

    <div class="card">

        <nav class="no-print" aria-label="breadcrumb">
            <ol class="breadcrumb m-15">
                <li class="breadcrumb-item"><a href="{% url 'pedagogico:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a onclick="window.history.back();">Minhas Turmas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lista dos Usuário</li>
            </ol>
        </nav>

        <br>
        <h1 class="font-dosis fw-500 text-center">Usuários | {{ Turmas.nome }}</h1><br>
        <br>


        <button class="btn btn-w-md btn-round btn-info float-right  ml-3 no-print" onclick="window.print();">
            Imprimir
        </button>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">

                    <div class="card-body card-round tabelaSemflow flowww">
                        <table class="table table-striped table-bordered table-responsive bs-select print border-dark text-dark visivel border border-dark text-dark rounded tabelaesticada"
                               cellspacing="0"
                               data-provide="datatables">
                            <thead>
                            <tr class="text-uppercase" style="background-color: black; color: #fff;">
                                <th class="border-dark w-50px"><b>#</b></th>
                                <th class="border-dark"><b>Nome</b></th>
                                <th class="w-50px text-center no-print border-dark text-center" colspan="2"><b>Ações</b>
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for u in Turmas.ususario.all %}

                                <tr>
                                    <td class="border-dark text-dark text-center">{{ forloop.counter }}</td>
                                    <td class="border-dark text-dark">{{ u.nome }}</td>

                                    <th class="w-50px text-center text-dark no-print">
                                        <div align="center">
                                            <a data-provide="tooltip" data-tooltip-color="primary" title="Editar PEI"
                                               style="font-size: 25px;" class="fa fa-lightbulb-o" aria-hidden="true"
                                               href="{% url 'pedagogico:realizar_pei' u.id %}"></a>
                                        </div>
                                    </th>

                                    <th class="w-50px text-center text-dark no-print">
                                        <div align="center">
                                            <a data-provide="tooltip" data-tooltip-color="primary"
                                               title="Visualizar PEI"
                                               style="font-size: 25px;" class="fa fa-eye" aria-hidden="true"
                                               href="{% url 'pedagogico:pei_detalhes' u.id %}"></a>
                                        </div>
                                    </th>


                                    {#                                    <th class="w-50px text-center text-dark no-print">#}
                                    {#                                        <div align="center">#}
                                    {#                                            <a data-provide="tooltip" data-tooltip-color="info"#}
                                    {#                                               title="Avaliação Inicial"#}
                                    {#                                               style="font-size: 25px;" class="fa fa-check" aria-hidden="true"#}
                                    {#                                               href="#"></a>#}
                                    {#                                        </div>#}
                                    {#                                    </th>#}
                                    {##}
                                    {##}
                                    {#                                    <th class="w-50px text-center  text-dark no-print">#}
                                    {#                                        <div align="center">#}
                                    {#                                            <a data-provide="tooltip" data-tooltip-color="info"#}
                                    {#                                               title="Visualizar Avaliação"#}
                                    {#                                               style="font-size: 25px;" class="fa fa-eye" aria-hidden="true"#}
                                    {#                                               href="#"></a>#}
                                    {#                                        </div>#}
                                    {#                                    </th>#}

                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer class="card-footer text-right no-print">
            <a onclick="window.history.back();" class="btn btn-secondary" type="reset">Voltar</a>
        </footer>
    </div>

{% endblock %}