.no-print, .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate, .paging_simple_numbers, .butoes{display: none;}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.tabelaSemflow{
	overflow-x: visible;
}
.logomarca{
	display: block;
}
.apaelogo{
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.text-center{
	text-align: center;
}

.holdbox::after {
    content: "";
    clear: both;
    display: table;
}
.box1{float: left;
    width: 18%;
    padding-left: 10px;
    padding-top: 10px;
}
.box2{float: left;
    width: 60%;
    padding-top: 10px;
}
.box2 p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.emlinha{
    margin-right: 40px; 
    padding-left: 10px; 
    border-left: 1px black solid;
    display: inline-block;
    font-size: 16px;
    color: black;
    line-height: 13px;
}

.emlinha2{
    margin-right: 40px; 
    padding-left: 10px; 
    border-left: 1px black solid;
    font-size: 16px;
    color: black;
    line-height: 13px;
}

.emlinha3{
    margin-right: 40px; 
    padding-left: 10px; 
    border-left: 1px black solid;
    display: inline-block;
    font-size: 16px;
    color: black;
    line-height: 13px;
}

/* mechaa aqui---------------------------------------------------------------------------------- */

.levantar{
    line-height: 0px;
}

.tabelacentralizada{
    margin-left: auto;
    margin-right: auto;
}

.tabelaesticada{
    width: 100%;
}

.rowc{background-color: #fff;}

.rowsc{background-color: #555;}