{% extends 'core/layout/layout_base_core.html' %}

{% block tamanho %}class="card card-round card-shadowed px-50 py-30 w-400px mb-0"{% endblock %}

{% block main %}
<h5 class="text-uppercase">Você saiu do sistema!</h5>
<br>
<h4>Até uma proxima!</h5>
  {% endblock %}

  {% block js %}

  <script type="text/javascript" charset="utf-8" async defer>


// window.setTimeout('funcao()', intervalo_em_milisegundos);

window.onload = function() {

  window.location.assign({% url 'core:login'%});
};
</script>

{% endblock %}