{% extends 'core/layout/layout_base_core.html' %}

{% block tamanho %}class="card card-round card-shadowed col-lg-12 col-md-12 col-sm-12"{% endblock %}


{% block main %}
    <br>
    <h1 class="font-dosis fw-500 text-center">Registrar Funcionário</h1>
    <br>

    <div class="card-body card-round">


        <form id="formmm" class="card" action="{% url 'core:registrarFuncionario' %}" method="post">
            {% csrf_token %}

            <h5 class="text-uppercase ">Registrar Funcionário</h5>
            <hr class="hr-sm mb-2">

            <input type="hidden" name="usuario_id" value="{{usuario.id}}">

            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Nome Completo <i class="text-danger">*</i></label>
                        <input class="form-control" type="text" name="nome" required>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Nome de Usuário <i class="text-danger">*</i></label>
                        <input class="form-control" type="text" name="nomeuser" required>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Email <i class="text-danger">*</i></label>
                        <input class="form-control" type="email" name="email" required>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Cargo <i class="text-danger">*</i></label>
                        <div>
                            <select data-provide="selectpicker" name="cargo" style="color: black; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required="">
                                <option class="visivel text-dark" value="">-------------------------------------------------</option>

                                {% for cargo in cargos %}
                                <option class="visivel text-dark" value="{{cargo.nome}}">{{cargo.nome}}</option>                        
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                      <br>
                        <label>Senha padrão: <b>123456Mm</b></label>
                    </div>
                </div>

            </div>
            <footer class="card-footer text-right">
                <a href="{% url 'core:index'%}" class="btn btn-secondary" type="reset">Cancelar</a>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </footer>

        </form>

    </div>
{% endblock %}
