{% extends 'core/layout/layout_base.html' %}


{% block home %}{% url 'pedagogico:index' %}{% endblock %}
{% block home2 %}{% url 'pedagogico:index' %}{% endblock %}

{% block perfil %}{% url 'pedagogico:perfil' %}{% endblock %}

{% block menu_lateral %}

<ul class="menu">

            {% ifequal request.user.funcionario.cargo.nome "Coordenador(a) pedagógica" %}

            <li class="menu-category">Coordenação</li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon fa fa-group"></span>
                    <span class="title">Triagens</span>
                    <span class="arrow"></span>
                </a>

                <ul class="menu-submenu">
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'pedagogico:listar_triagemSocial' %}">
                            <span class="dot"></span>
                            <span class="title">Não Realizadas</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'pedagogico:listagem_pedagogica' %}">
                            <span class="dot"></span>
                            <span class="title">Realizadas</span>
                        </a>
                    </li>
                </ul>

            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon fa fa-archive"></span>
                    <span class="title">Turmas</span>
                    <span class="arrow"></span>
                </a>

                <ul class="menu-submenu">
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'pedagogico:listar_turmas' %}">
                            <span class="dot"></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% else %}
{#    ------------------------------------------------------------------------------------------------#}

            <li class="menu-category">Educador(a)</li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon fa fa-mortar-board"></span>
                    <span class="title">Caderneta</span>
                    <span class="arrow"></span>
                </a>
                <ul class="menu-submenu">
                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'pedagogico:minhas_turmas' %}">
                            <span class="dot"></span>
                            <span class="title">Minhas Turmas</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endifequal %}
        </ul>

{% endblock %}


{% block main %}{% endblock %}

{% block js %}{% endblock %}
