{% extends 'core/layout/layout_base.html' %}

{% block menu_lateral %}

<ul class="menu">

  <li class="menu-category">Usuários</li>

  <li class="menu-item" id="u">
    <a class="menu-link" href="#">
      <span class="icon fa fa-users"></span>
      <span class="title">Usuário</span>
      <span class="arrow"></span>
    </a>

    <ul class="menu-submenu">

      <li class="menu-item" id="ul">
        <a class="menu-link" href="{% url 'social:usuarios_listar' %}">
          <span class="dot"></span>
          <span class="title">Usuários</span>
        </a>
      </li>

      <li class="menu-item" id="ut">
        <a class="menu-link" href="{% url 'social:triagem_listar' %}">
          <span class="dot"></span>
          <span class="title">Triagens</span>
        </a>
      </li>

      <li class="menu-item" id="uv">
        <a class="menu-link" href="{% url 'social:visita_listar' %}">
          <span class="dot"></span>
          <span class="title">Visitas</span>
        </a>
      </li>

    </ul> 
  </li>

  <li class="menu-category">Eventos</li>

  <li class="menu-item" id="e">
    <a class="menu-link" href="#">
      <span class="icon fa fa-location-arrow"></span>
      <span class="title">Filas</span>
      <span class="arrow"></span>
    </a>

    <ul class="menu-submenu">

      <li class="menu-item" id="el">
        <a class="menu-link" href="{% url 'social:evento_cadastrar' %}">
          <span class="dot"></span>
          <span class="title">Listar Eventos</span>
        </a>
      </li>


    </ul>
  </li>

</ul>

{% endblock %}


{% block menu_superior %}


{% endblock %}



{% block main %}{% endblock %}

{% block js %}{% endblock %}
