{% extends 'social/layout/layout_base.html' %}

{% block main %}
<div class="card"> 

    <br>
    <h1 class="font-dosis fw-500">Cadastrar  Evento</h1>
    <br>

    <div class="card-body card-round">


    	<form id="formmm" class="card" action="{% url 'social:evento_cadastrar'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h5 class="text-uppercase">Evento</h5>
            <hr class="hr-sm mb-2">


          <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="nome">
        </div>

        <div class="form-group">
                <label>Data de Início</label>
                <small class="sidetitle">dd/mm/yyyy</small>
                <input name="datainicio" type="text" class="form-control" data-format="&#123;&#123;99&#125;&#125;/&#123;&#123;99&#125;&#125;/&#123;&#123;9999&#125;&#125;">
        </div>
        <div class="form-group">
                <label>Data de Fim</label>
                <small class="sidetitle">dd/mm/yyyy</small>
                <input name="datafim" type="text" class="form-control" data-format="&#123;&#123;99&#125;&#125;/&#123;&#123;99&#125;&#125;/&#123;&#123;9999&#125;&#125;">
        </div>


        <footer class="card-footer text-right">
            <a href="{% url 'social:index'%}" class="btn btn-secondary" type="reset">Cancelar</a>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </footer>

    </form>

</div>

</div>


{% endblock %}



{% block js %}
<script type="text/javascript">
   
    document.getElementById("u").className = document.getElementById("u").className + " active open";
    document.getElementById("ul").className = document.getElementById("ul").className + " active";
</script>
{% endblock %}

