{% extends 'social/layout/layout_listar.html' %}

{% block tabela %}
{% load static %}
<thead>
  <tr>
    <th>ID</th>
    <th>Usuário</th>
    <th>Imagem</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th class="no-print">Ações</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>ID</th>
    <th>Imagem</th>
    <th>Usuário</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th class="no-print">Ações</th>
  </tr>
</tfoot>
<tbody>

  <tr>
    <th>{{usuario.id}}</th>
    <td> <img src="{% ifequal usuario.imagem_url None %}{% static 'assets/img/avatar/default.jpg' %}{% else %} {{usuario.imagem_url}} {% endifequal %}" width="70" height="100"> </td>
    <td>{{usuario.nome}}</td>
    <td>{{usuario.data_nacimento|date:"d M Y" }}</td>
    <td>{{usuario.cid}}</td>

    <td class="no-print"> 
      <div>
        <a data-provide="tooltip" data-tooltip-color="primary" title="Editar Triagem" style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' usuario.id %}"></a>
      </div>
      <div>
        <a data-provide="tooltip" data-tooltip-color="primary" title="Agendar Visita" style="font-size: 25px;" class="fa fa-location-arrow" aria-hidden="true" href="{%url 'social:triagem_editar' usuario.id %}"></a>  
      </div>
      <div>
        <a id="{%url 'social:usuarios_listar'%}?delete=true&id={{usuario.id}}" onclick="deletar(this.id);" style="font-size: 25px;" data-provide="tooltip" data-tooltip-color="danger" title="Deletar" class="deletbutton fa fa-trash-o" aria-hidden="true" href="#"></a>  
      </div>
      
    </td>

  </tr>

</tbody>


{% endblock %}