{% extends 'social/layout/layout_listar.html' %}

{% block titulo %} Triagens {% endblock %}

{% block buscar %}
<!-- <form class="lookup float-left no-icon gap-items">
  <input type="text" placeholder="Buscar">
  <button class="btn btn-primary btn-round w-64px fs-22">
    <i class="ti-search"></i>
  </button>
</form>
 -->

{% endblock %}

{% block adcionar %}
<a class="btn btn-label btn-primary btn-round float-right" href="{% url 'social:triagem_realizar' %}">
  <label>
    <i class="ti-plus""></i>
  </label> Nova Triagem
</a>
{% endblock %}



{% block tabela %}
{% load static %}
<thead>
  <tr>
    <th>ID</th>
    <th class="no-print">Imagem</th>
    <th>Usuário</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th>SUS</th>
    <th>Acompanhamento</th>
    <th>Parentes</th>
    <th>Renda Familiar</th>
    <th>Endereço</th>
    <th>Contatos</th>
    <th>Ensino Regular</th>
    <th>Proficional</th>
    <th>Data da Triagem</th>
    <th class="no-print">Editar</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>ID</th>
    <th class="no-print">Imagem</th>
    <th>Usuário</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th>SUS</th>
    <th>Acompanhamento</th>
    <th>Parentes</th>
    <th>Renda Familiar</th>
    <th>Endereço</th>
    <th>Contatos</th>
    <th>Ensino Regular</th>
    <th>Proficional</th>
    <th>Data da Triagem</th>
    <th class="no-print">Editar</th>
  </tr>
</tfoot>
<tbody>

  {% for t in triagens%}

  <tr>
    <th>{{t.id}}</th>
    <th class="no-print"><img src="{% ifequal t.usuario.imagem_url None %}{% static 'assets/img/avatar/default.jpg' %}{% else %} {{t.usuario.imagem_url}} {% endifequal %}" width="70" height="100"></th>

    <td>{{t.usuario.nome}}</td>
    <td>{{t.usuario.data_nacimento|date:"d M Y" }}</td>
    <td>{{t.usuario.cid}}</td>
    <td>{{t.sus}}</td>
    <td>{% if t.acompanhamento_com_especialista %} Acompanhado {% else %} Sem Acompanhamento {% endif %}</td>
    <td>Pai: {{t.nome_pai}}<br>Mãe:{{t.nome_mae}} </td>

    <td> {% if t.bpc or t.bolsa_familia or t.aposentadoria %}Possui: {% endif %} 
      {% if t.bpc %}BPC{% endif %} <br>
      {% if t.bolsa_familia %}Bolsa Família{% endif %} <br>
      {% if t.aposentadoria %} Aposentadoria{% endif %}<br>
      {% if t.bpc or t.bolsa_familia or t.aposentadoria %}Beneficiário: {{t.benediciario}}{% endif %}
    </td>

    
    <td>Rua: {{t.rua}} N°:{{t.numero_da_rua}} <br> Bairro: {{t.bairro}} Cidade: {{t.cidade}} </td>

    <td>Telefone: {{t.telefone}} <br> Celular:{{t.elular}} <br> Email: {{t.email}}</td>

    <td>{% if t.estuda_ensino_regular %} Estuda: {{t.qual}} Ano:{{t.ano_estuda}} <br> Turma: {{t.turma_estuda}} Turno: {{t.turno_estuda}} {% else %} Não informado {% endif %}</td>
    
    <td>{{t.assinatura_proficinal.nome}}</td>
    <td>{{t.data_da_triagem|date:"d M Y" }}</td>
    <td class="no-print"> <a style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a></td>

  </tr>
  {% endfor %}

</tbody>


{% endblock %}




<!--
nome=
datanascimento=++%2F++%2F++++
sus=
cid=
exampleRadios=n
especialista=
painome=
paiidade=
paiprofissao=
maenome=
maeidade=
maeprofissao=
bpc=s
bolsafamilia=s
aposentadoria=s
valor=
beneficiario=
rua=
numero=
bairro=
ponto=
cidade=
telefone=%28++%29+++++-++++
celular=%28++%29++.++++-++++
email=
inlineRadioOptions=n
qual=
ano=
turma=
turno=
obs=
assinatura=
datarealizacao=162F09%2F2018+21%3A36%3A46
-->