{% extends 'social/layout/layout_base.html' %}

{% block main %}
{% load static %}

<div class="card"> 

  <br>
  <h1 class="font-dosis fw-500  text-center">Editar Triagem</h1>
  <br>

  <div class="card-body card-round">



    <form id="formmm" class="card text-dark" action="{% url 'social:editar_triagem'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <input type="hidden" name="id" value="{{ t.id }}">
      <!--  .......................................................................................................  -->  
      <h5 class="text-uppercase">Usuário</h5>
      <hr class="hr-sm mb-2">

      <div class="row"> 
        <div class="col-lg-12 col-md-12 col-sm-12 no-gutters text-center" data-provide="photoswipe">
          <figure class="img-hov-zoomin">
            <img width="120px" height="160px" src="{% ifequal t.usuario.imagem_url None %}{% static 'assets/img/avatar/default.jpg' %}{% else %} {{t.usuario.imagem_url}} {% endifequal %}" alt="..." class="rounded avatar-xxxl">
          </figure>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="form-group">


          <label >Enviar Imagem</label>
          <div class="input-group file-group">
            <input type="text" name="verificaimagem" class="form-control file-value" value="{% ifequal t.usuario.imagem_url None %}Sem Imagem{% else %} {{t.usuario.imagem_url}} {% endifequal %}" placeholder="Choose file..." readonly>
            <input  type="file" multiple name="imagem">
            <span class="input-group-btn">
              <button class="btn btn-light file-browser visivel" type="button"><i class="fa fa-upload"></i></button>
            </span>
          </div>
        </div>
      </div>




      <div class="row"> 

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Nome <i class="text-danger">*</i></label>
            <input class="form-control" type="text" name="nome" value="{{t.usuario.nome}}" required >
          </div>
        </div>  



        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Data de nascimento <i class="text-danger">*</i></label>
            <small class="sidetitle">dd/mm/aaaa</small>
            <input name="datanascimento" type="text" data-format="&#123;&#123;99&#125;&#125;/&#123;&#123;99&#125;&#125;/&#123;&#123;9999&#125;&#125;" class="form-control" value="{% if t.usuario.data_nacimento.day < 10 %} 0{{t.usuario.data_nacimento.day}} {% else %} {{t.usuario.data_nacimento.day}} {% endif %}/{% if t.usuario.data_nacimento.month < 10 %} 0{{t.usuario.data_nacimento.month}} {% else %} {{t.usuario.data_nacimento.month}} {% endif %}/{{t.usuario.data_nacimento.year}}" required >
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>SUS</label>
            <input name="sus" class="form-control" type="text" value="{{t.sus}}">
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>CID <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="cid" style="color: #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >
                {% for cid in cids %}
                <option class="visivel text-dark" style="color:#000;" {% if t.usuario.cid.codigo == cid.codigo %}selected="selected"{% endif %}>{{cid.codigo}}</option>                        
                {% endfor %}
              </select>
            </div>
          </div>
        </div>  
      </div>

      <!--  .......................................................................................................  -->

      <h5 class="text-uppercase mt-3">Acompanhamento com especialista</h5>
      <hr class="hr-sm mb-2">
      <div class="row"> 

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>É Acompanhado <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="acompanhado" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.acompanhamento_com_especialista %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.acompanhamento_com_especialista %} selected="selected" {% endif %} >NÂO</option>                        
              </select>
            </div>
          </div>
        </div> 

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Especialista acompanhante</label>
            <input name="especialista" class="form-control" type="text" value="{{t.especialista}}">
          </div>
        </div>
      </div>

      <!--  .......................................................................................................  -->


      <h5 class="text-uppercase mt-3">Familiares</h5>
      <hr class="hr-sm mb-2">
      <h6 class="text-uppercase mt-3">Pai</h6>
      <hr class="hr-sm mb-2">

      <div class="row"> 
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Nome</label>
            <input name="painome" class="form-control" type="text" value="{{t.nome_pai}}">
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Idade</label>
            <input name="paiidade" class="form-control" type="number" value="{{t.idade_pai}}">
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Profissão</label>
            <input name="paiprofissao" class="form-control" type="text" value="{{t.profissao_pai}}">
          </div>
        </div> 
      </div>

      <h6 class="text-uppercase mt-3">Mãe</h6>
      <hr class="hr-sm mb-2">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Nome</label>
            <input name="maenome" class="form-control" type="text" value="{{t.nome_mae}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Idade</label>
            <input name="maeidade" class="form-control" type="number"  value="{{t.idade_mae}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Profissão</label>
            <input name="maeprofissao" class="form-control" type="text" value="{{t.profissao_mae}}">
          </div>
        </div>
      </div>

      <!--  .......................................................................................................  -->


      <h5 class="text-uppercase mt-3">Renda familiar</h5>
      <hr class="hr-sm mb-2">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input name="bpc" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="s" {% if t.bpc %} checked="checked" {% endif %}> BPC
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input name="bolsafamilia" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="s" {% if t.bolsa_familia %} checked="checked" {% endif %}> Bolsa Família
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input name="aposentadoria" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="s" {% if t.aposentadoria %} checked="checked" {% endif %}> Aposentadoria
            </label>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Valor R$ <i class="text-danger">*</i></label>
            <input name="valor" class="form-control" type="text" value="{{t.renda_familiar}}" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Beneficiário</label>
            <input name="beneficiario" class="form-control" type="text" value="{{t.benediciario}}">
          </div>
        </div>
      </div>

      <!--  .......................................................................................................  -->


      <h5 class="text-uppercase mt-3">Endereço</h5>
      <hr class="hr-sm mb-2">





      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>CEP <i class="text-danger">*</i></label>
            <input name="cep" id="cep" onblur="pesquisacep(this.value);" class="form-control" value="{{t.cep}}" type="text" required >
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Rua <i class="text-danger">*</i></label>
            <input name="rua" type="text" id="rua" class="form-control" value="{{t.rua}}" type="text">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>N° <i class="text-danger">*</i></label>
            <input name="numero" class="form-control" type="text" value="{{t.numero_da_rua}}" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Bairro <i class="text-danger">*</i></label>
            <input name="bairro" id="bairro" class="form-control" value="{{t.bairro}}" type="text" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Ponto de Referência</label>
            <input name="ponto" class="form-control" type="text" value="{{t.ponto_de_referencia}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Cidade <i class="text-danger">*</i></label>
            <input name="cidade" class="form-control" id="cidade" value="{{t.cidade}}" type="text" required >
          </div>
        </div>

        <input name="uf" type="hidden" id="uf" size="2" />
        <input name="ibge" type="hidden" id="ibge" size="8"/>
      </div>



      <!--  .......................................................................................................  -->

      <h5 class="text-uppercase mt-3">Contato</h5>
      <hr class="hr-sm mb-2">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">

          <div class="form-group">
            <label>Telefone <i class="text-danger">*</i></label>
            <small class="sidetitle">E.g. (87) 3831-0000</small>
            <input name="telefone" type="text" class="form-control" data-format="(&#123;&#123;99&#125;&#125;) &#123;&#123;9999&#125;&#125;-&#123;&#123;9999&#125;&#125;" value="{{t.telefone}}" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Celular <i class="text-danger">*</i></label>
            <small class="sidetitle">E.g. (87) 9.9999-9999</small>
            <input name="celular" type="text" class="form-control" data-format="(&#123;&#123;99&#125;&#125;) &#123;&#123;9&#125;&#125;.&#123;&#123;9999&#125;&#125;-&#123;&#123;9999&#125;&#125;" value="{{t.celular}}" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Email</label>
            <input name="email" class="form-control" type="email" value="{{t.email}}">
          </div>
        </div>
      </div>


      <!--  .......................................................................................................  -->

      <h5 class="text-uppercase mt-3">Ensino</h5>
      <hr class="hr-sm mb-2">

      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Estuda em ensino Regular <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="ensino" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.estuda_ensino_regular %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.estuda_ensino_regular %} selected="selected" {% endif %} >NÂO</option>                        
              </select>
            </div>
          </div>
        </div> 

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Qual <i class="text-danger">*</i></label>
            <input name="qual" class="form-control" type="text" value="{{t.qual}}" required >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Ano</label>
            <input name="ano" class="form-control" type="text" value="{{t.ano_estuda}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Turma</label>
            <input name="turma" class="form-control" type="text" value="{{t.turma_estuda}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Turno</label>
            <input name="turno" class="form-control" type="text" value="{{t.turno_estuda}}">
          </div>
        </div>
      </div>
      <!--  .......................................................................................................  -->

      <h5 class="text-uppercase mt-3">Saúde</h5>
      <hr class="hr-sm mb-2">

      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Medicação em uso <i class="text-danger">*</i></label>
            <input class="form-control" name="medicacao" type="text" value="{{ t.medicacao }}" required >
          </div>
        </div>
      </div>

      <h5 class="mt-3">Equipe interdisciplinar</h5>


      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>FISIO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="fisio" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_fisio %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_fisio %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>HIDRO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="hidro" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_hidro %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_hidro %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>FONO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="fono" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_fono %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_fono %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>TO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="to" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_to %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_to %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>PSI <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="psi" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_psi %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_psi %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>ONDONTO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="ondonto" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_ondonto %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_ondonto %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>MÉDICO <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="medico" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_medico %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_medico %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>PSICOPEDAGOGA <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="psicopedagoga" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_psicopedagoga %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_psicopedagoga %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label>PEDAGOGIA <i class="text-danger">*</i></label>
            <div>
              <select data-provide="selectpicker" name="pedagogia" style="color #000; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded" required >

                <option class="visivel text-dark" 
                {% if t.e_i_pedagogia %} selected="selected" {% endif %} >SIM</option>                        
                <option class="visivel text-dark"
                {% if not t.e_i_pedagogia %} selected="selected" {% endif %} >NÂO</option>  

              </select>
            </div>
          </div>
        </div>

      </div>
      <!--  .......................................................................................................  -->


      <h5 class="text-uppercase mt-3">Observações</h5>
      <hr class="hr-sm mb-2">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

          <div class="form-group">
            <label>OBS:</label>
            <textarea name="obs" class="form-control  text-dark" id="obs" rows="6" style="color:#000;" value=""></textarea>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Assinatura do Proficional</label>
            <input name="assinatura" class="form-control" type="text" value="{{t.assinatura_proficinal.user.first_name}} {{t.assinatura_proficinal.user.last_name}}">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label>Data de Realização</label>
            <input name="datarealizacao" id="datar" class="form-control" type="text" value="{{t.data_da_triagem.day}}/{{t.data_da_triagem.month}}/{{t.data_da_triagem.year}}">
          </div>
        </div>
      </div>

      <footer class="card-footer text-right">
        <a href="{% url 'social:index'%}" class="btn btn-secondary" type="reset">Cancelar</a>
        <button class="btn btn-primary" type="submit">Editar</button>
      </footer>

    </form>

  </div>

</div>




{% endblock %}

{% block js %}
<script type="text/javascript">
document.getElementById("obs").value = "{{t.observacoes}}";

document.getElementById("u").className = document.getElementById("u").className + " active open";
document.getElementById("ut").className = document.getElementById("ut").className + " active";
</script>
{% endblock %}
