{% extends 'social/layout_base.html' %}

{% block main %}

<h1 class="font-dosis fw-500">Triagem</h1><br>

<div class="text-left">
    <form action="" method="post">{% csrf_token %}
        <div id="form-wrapper" class="skin-border">
            <div id="formulario">

                <div class="card form-type-material">
                    <h4 class="card-title"><strong>Dados Pessoais</strong>

                    </h4>

                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-12">
                                {{ form.imagem.label_tag }}
                                {{ form.imagem }}
                                <div class="invalid-feedback">
                                    {{ form.imagem.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.sus.label_tag }}
                                    {{ form.sus }}
                                    <div class="invalid-feedback">
                                        {{ form.sus.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                {{ form.acompanhamento_com_especialista.label_tag }}
                                {{ form.acompanhamento_com_especialista }}
                                <div class="invalid-feedback">
                                    {{ form.acompanhamento_com_especialista.errors }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.especialista.label_tag }}
                                    {{ form.especialista }}
                                    <div class="invalid-feedback">
                                        {{ form.especialista.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <h4 class="card-title"><strong>Dados Familiares</strong>

                    </h4>

                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-12">
                                {{ form.nome_pai.label_tag }}
                                {{ form.nome_pai }}
                                <div class="invalid-feedback">
                                    {{ form.nome_pai.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.idade_pai.label_tag }}
                                    {{ form.idade_pai }}
                                    <div class="invalid-feedback">
                                        {{ form.idade_pai.errors }}
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                {{ form.profissao_pai.label_tag }}
                                {{ form.profissao_pai }}
                                <div class="invalid-feedback">
                                    {{ form.profissao_pai.errors }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                {{ form.nome_mae.label_tag }}
                                {{ form.nome_mae }}
                                <div class="invalid-feedback">
                                    {{ form.nome_mae.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.idade_mae.label_tag }}
                                    {{ form.idade_mae }}
                                    <div class="invalid-feedback">
                                        {{ form.idade_mae.errors }}
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                {{ form.profissao_mae.label_tag }}
                                {{ form.profissao_mae }}
                                <div class="invalid-feedback">
                                    {{ form.profissao_mae.errors }}
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                {#{{ form.as_p }}#}


            </div>
            <div id="dt-extra"></div>
            <div class="dt-foot cf">
                <div class="input cf input-xfull">
                    <input value="Salvar" type="submit"
                    class="form-btn pull-right skin-color skin-border">
                </input>
            </div>
        </div>
    </div>

</form>


<br>


</div>
<br><br>
{% endblock %}