{% extends 'social/layout/layout_listar.html' %}

{% block titulo %} Triagens {% endblock %}

{% block buscar %}
<!-- <form class="lookup float-left no-icon gap-items">
  <input type="text" placeholder="Buscar">
  <button class="btn btn-primary btn-round w-64px fs-22">
    <i class="ti-search"></i>
  </button>
</form>
-->

{% endblock %}

{% block adcionar %}
<a class="btn btn-label btn-primary btn-round float-right" href="{% url 'social:triagem_realizar' %}">
  <label>
    <i class="ti-plus"></i>
  </label> Nova Triagem
</a>
{% endblock %}



{% block tabela %}
{% load static %}
<thead>
 <tr>
  <th class="border-dark text-dark">ID</th>
  <th class="no-print border-dark text-dark">Imagem</th>
  <th class="border-dark text-dark">Usuário</th>
  <th class="border-dark text-dark">Data de Nascimento</th>
  <th class="border-dark text-dark">CID</th>
  <th class="border-dark text-dark">SUS</th>
  <th class="border-dark text-dark">Acompanhamento</th>
  <th class="border-dark text-dark">Parentes</th>
  <th class="border-dark text-dark">Renda Familiar</th>
  <th class="border-dark text-dark" >Endereço</th>
  <th class="border-dark text-dark">Contatos</th>
  <th class="border-dark text-dark">Ensino Regular</th>
  <th class="border-dark text-dark">Proficional</th>
  <th class="border-dark text-dark">Data da Triagem</th>
  <th class="no-print border-dark text-dark">Editar</th>
</tr>
</thead>
<tfoot class="no-print">
  <tr>
    <th class="border-dark text-dark">ID</th>
    <th class="no-print border-dark text-dark">Imagem</th>
    <th class="border-dark text-dark">Usuário</th>
    <th class="border-dark text-dark">Data de Nascimento</th>
    <th class="border-dark text-dark">CID</th>
    <th class="border-dark text-dark">SUS</th>
    <th class="border-dark text-dark">Acompanhamento</th>
    <th class="border-dark text-dark">Parentes</th>
    <th class="border-dark text-dark">Renda Familiar</th>
    <th class="border-dark text-dark" >Endereço</th>
    <th class="border-dark text-dark">Contatos</th>
    <th class="border-dark text-dark">Ensino Regular</th>
    <th class="border-dark text-dark">Proficional</th>
    <th class="border-dark text-dark">Data da Triagem</th>
    <th class="no-print border-dark text-dark">Editar</th>
  </tr>
</tfoot>
<tbody>

  {% for t in triagens%}

  <tr>
    <th class="border-dark text-dark">{{t.id}}</th>
    <th class="no-print border-dark text-dark"><img src="{% ifequal t.usuario.imagem_url None %}{% static 'assets/img/avatar/default.jpg' %}{% else %} {{t.usuario.imagem_url}} {% endifequal %}" width="70" height="100"></th>

    <td class="border-dark text-dark">{{t.usuario.nome}}</td>
    <td class="border-dark text-dark">{{t.usuario.data_nacimento|date:"d M Y" }}</td>
    <td class="border-dark text-dark">{{t.usuario.cid}}</td>
    <td class="border-dark text-dark">{{t.sus}}</td>
    <td class="border-dark text-dark">{% if t.acompanhamento_com_especialista %} Acompanhado {% else %} Sem Acompanhamento {% endif %}</td>
    <td class="border-dark text-dark">Pai: {{t.nome_pai}}<br>Mãe:{{t.nome_mae}} </td>

    <td class="border-dark text-dark"> {% if t.bpc or t.bolsa_familia or t.aposentadoria %}Possui: {% endif %} 
      {% if t.bpc %}BPC{% endif %} <br>
      {% if t.bolsa_familia %}Bolsa Família{% endif %} <br>
      {% if t.aposentadoria %} Aposentadoria{% endif %}<br>
      {% if t.bpc or t.bolsa_familia or t.aposentadoria %}Beneficiário: {{t.benediciario}}{% endif %}
    </td>

    
    <td class="border-dark text-dark">Rua: {{t.rua}} N°:{{t.numero_da_rua}} <br> Bairro: {{t.bairro}} Cidade: {{t.cidade}} </td>

    <td class="border-dark text-dark">Telefone: {{t.telefone}} <br> Celular:{{t.elular}} <br> Email: {{t.email}}</td>

    <td class="border-dark text-dark">{% if t.estuda_ensino_regular %} Estuda: {{t.qual}} Ano:{{t.ano_estuda}} <br> Turma: {{t.turma_estuda}} Turno: {{t.turno_estuda}} {% else %} Não informado {% endif %}</td>
    
    <td class="border-dark text-dark">{{t.assinatura_proficinal.nome}}</td>
    <td class="border-dark text-dark">{{t.data_da_triagem|date:"d M Y" }}</td>
    <td class="no-print border-dark text-dark"> <a style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a></td>

  </tr>
  {% endfor %}

</tbody>


{% endblock %}

{% block js %}
<script type="text/javascript">

document.getElementById("u").className = document.getElementById("u").className + " active open";
document.getElementById("ut").className = document.getElementById("ut").className + " active";
</script>
{% endblock %}