{% extends 'social/layout/layout_listar.html' %}

{% block titulo %} Usuários {% endblock %}

{% block buscar %}
<!-- <form class="lookup float-left no-icon gap-items">
  <input type="text" placeholder="Buscar">
  <button class="btn btn-primary btn-round w-64px fs-22">
    <i class="ti-search"></i>
  </button>
</form>
-->

{% endblock %}

{% block adcionar %}
<a class="btn btn-label btn-primary btn-round float-right" href="{% url 'social:triagem_realizar' %}">
  <label>
    <i class="ti-plus"></i>
  </label> Adicionar Usuário
</a>
{% endblock %}



{% block tabela %}
{% load static %}
<thead>
  <tr>
    <th>ID</th>
    <th class="no-print">Imagem</th>
    <th>Usuário</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th>SUS</th>
    <th>Parentes</th>
    <th>Endereço</th>
    <th>Contatos</th>
    <th class="no-print">Ações</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>ID</th>
    <th class="no-print">Imagem</th>
    <th>Usuário</th>
    <th>Data de Nascimento</th>
    <th>CID</th>
    <th>SUS</th>
    <th>Parentes</th>
    <th>Endereço</th>
    <th>Contatos</th>
    <th class="no-print">Ações</th>
  </tr>
</tfoot>
<tbody>

  {% for t in triagens%}

  <tr>
    <th>{{t.id}}</th>
    <td class="no-print"> <img src="{% ifequal t.usuario.imagem_url None %}{% static 'assets/img/avatar/default.jpg' %}{% else %} {{t.usuario.imagem_url}} {% endifequal %}" width="70" height="100"> </td>
    <td>{{t.usuario.nome}}</td>
    <td>{{t.usuario.data_nacimento|date:"d M Y" }}</td>
    <td>{{t.usuario.cid}}</td>
    <td>{{t.sus}}</td>
    <td>Pai: {{t.nome_pai}}<br>Mãe:{{t.nome_mae}} </td>    
    <td>Rua: {{t.rua}} N°:{{t.numero_da_rua}} <br> Bairro: {{t.bairro}} Cidade: {{t.cidade}} </td>
    <td>Telefone: {{t.telefone}} <br> Celular:{{t.elular}} <br> Email: {{t.email}}</td>

    <td class="no-print"> 
      <div>
        <a data-provide="tooltip" data-tooltip-color="primary" title="Editar Triagem" style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a>
      </div>
      <div>
        <a data-provide="tooltip" data-tooltip-color="primary" title="Agendar Visita" style="font-size: 25px;" class="fa fa-location-arrow" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a>  
      </div>
      <div>
        <a id="{%url 'social:usuarios_listar'%}?delete=true&id={{t.id}}" onclick="deletar(this.id);" style="font-size: 25px;" data-provide="tooltip" data-tooltip-color="danger" title="Deletar" class="deletbutton fa fa-trash-o" aria-hidden="true" href="#"></a>  
      </div>
      
    </td>

  </tr>
  {% endfor %}

</tbody>


{% endblock %}


{% block jsa %}

<script type="text/javascript">

  function deletar (url) {
    var r = confirm("Isto apagará permanentemente o úsuário do sistema!\n Deseja continuar com a açao?");
    if (r == true) {
      window.location.assign(url);
    } else {
      
    }

  }
    document.getElementById("u").className = document.getElementById("u").className + " active open";
    document.getElementById("ul").className = document.getElementById("ul").className + " active";
</script>
{% endblock %}
