{% extends 'social/layout/layout_listar.html' %}

{% block titulo %} Visitas {% endblock %}

{% block adcionar %}
<a class="btn btn-label btn-primary btn-round float-right" href="{% url 'social:usuarios_listar' %}">
  <label>
    <i class="ti-plus"></i>
  </label> Agendar Visita
</a>
{% endblock %}



{% block tabela %}
<thead>
  <tr>
   <th class="border-dark text-dark">ID</th>
   <th class="border-dark text-dark">Usuário</th>
   <th class="border-dark text-dark">Data da Visita</th>
   <th class="border-dark text-dark">Status</th>
   <th class="border-dark text-dark">Local</th>
   <th class="border-dark text-dark">Proficional</th>
   <th class="border-dark text-dark">Observações</th>
   <th class="no-print border-dark text-dark">Editar</th>
 </tr>
</thead>
<tfoot class="no-print">
  <tr>
    <th class="border-dark text-dark">ID</th>
    <th class="border-dark text-dark">Usuário</th>
    <th class="border-dark text-dark">Data da Visita</th>
    <th class="border-dark text-dark">Status</th>
    <th class="border-dark text-dark">Local</th>
    <th class="border-dark text-dark">Proficional</th>
    <th class="border-dark text-dark">Observações</th>
    <th class="no-print border-dark text-dark">Editar</th>
  </tr>
</tfoot>
<tbody>

  {% for t in visitas%}

  <tr>
    <th class="border-dark text-dark">{{t.id}}</th>
    <td class="border-dark text-dark">{{t.usuario.nome}}</td>
    <td class="border-dark text-dark">{{t.data_visita}}</td>
    <td class="border-dark text-dark">{% if t.realizada %} Realizado {% else %} Não Realizada {% endif %}</td>
    <td class="border-dark text-dark">{{t.local}}</td>
    <td class="border-dark text-dark">{{t.funcionario}}</td>
    <td class="border-dark text-dark">{{t.observacoes}}</td>
    <td class="no-print border-dark text-dark"> <a style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:visita_editar' t.id %}"></a></td>

  </tr>
  {% endfor %}

</tbody>


{% endblock %}

{% block js %}
<script type="text/javascript">

document.getElementById("u").className = document.getElementById("u").className + " active open";
document.getElementById("uv").className = document.getElementById("uv").className + " active";
</script>
{% endblock %}
