{% extends 'social/layout/layout_listar.html' %}

{% block titulo %} Visitas {% endblock %}

{% block adcionar %}
<a class="btn btn-label btn-primary btn-round float-right" href="{% url 'social:visita_agendar' %}">
  <label>
    <i class="ti-plus""></i>
  </label> Agendar Visita
</a>
{% endblock %}



{% block tabela %}
<thead>
  <tr>
   <th>ID</th>
   <th>Usuário</th>
   <th>Data da Visita</th>
   <th>Status</th>
   <th>Local</th>
   <th>Proficional</th>
   <th>Observações</th>
   <th class="no-print">Editar</th>
 </tr>
</thead>
<tfoot>
  <tr>
    <th>ID</th>
    <th>Usuário</th>
    <th>Data da Visita</th>
    <th>Status</th>
    <th>Local</th>
    <th>Proficional</th>
    <th>Observações</th>
    <th class="no-print">Editar</th>
  </tr>
</tfoot>
<tbody>

  {% for t in visitas%}

  <tr>
    <th>{{t.id}}</th>
    <td>{{t.usuario.nome}}</td>
    <td>{{t.data_visita}}</td>
    <td>{% if t.realizada %} Realizado {% else %} Não Realizada {% endif %}</td>
    <td></td>
    <td>{{t.funcionario}}</td>
    <td>{{t.observacoes}}</td>
    <td> <a style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a></td>

  </tr>
  {% endfor %}

</tbody>


{% endblock %}


<table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
  <thead style="background-color: #3f4a59;">
    <tr>
      <th>ID</th>
      <th>Usuário</th>
      <th>Data da Visita</th>
      <th>Status</th>
      <th>Local</th>
      <th>Proficional</th>
      <th>Observações</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Usuário</th>
      <th>Data da Visita</th>
      <th>Status</th>
      <th>Local</th>
      <th>Proficional</th>
      <th>Observações</th>
      <th>Editar</th>
    </tr>
  </tfoot>
  <tbody>

    {% for t in visitas%}

    <tr>
      <th>{{t.id}}</th>
      <td>{{t.usuario.nome}}</td>
      <td>{{t.data_visita}}</td>
      <td>{% if t.realizada %} Realizado {% else %} Não Realizada {% endif %}</td>
      <td></td>
      <td>{{t.funcionario}}</td>
      <td>{{t.observacoes}}</td>


      <td> <a style="font-size: 25px;" class="fa fa-pencil" aria-hidden="true" href="{%url 'social:triagem_editar' t.id %}"></a></td>

    </tr>
    {% endfor %}

  </tbody>
</table>
