{% extends 'social/layout/layout_base.html' %}

{% block main %}
<div class="card"> 

    <br>
    <h1 class="font-dosis fw-500 text-center">Agendar Visita</h1>
    <br>

    <div class="card-body card-round">


        <form id="formmm" class="card" action="{% url 'social:visita_agendar' usuario.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h5 class="text-uppercase ">Evento</h5>
            <hr class="hr-sm mb-2">

            <input type="hidden" name="usuario_id" value="{{usuario.id}}">

            <div class="row"> 
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Usuário</label>
                        <input class="form-control" type="text" disabled value="{{usuario.nome}}">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Funcionário</label>
                        <div>
                            <select data-provide="selectpicker" name="funcionario" style="color: black; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded">
                                {% for f in funcionario %}
                                <option class="visivel text-dark">{{f.user.first_name}} {{f.user.last_name}}</option>                        
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Data da visita</label>
                        <input name="datavisita" type="date" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Realizada</label>
                        <select data-provide="selectpicker" name="realizada" style="color: black; font-size: 15px; border-color: #444;" class="visivel border border-dark text-dark rounded">
                            <option class="visivel text-dark">Não</option>
                            <option class="visivel text-dark">Sim</option>                        

                        </select>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Observações</label>
                        <textarea name="obs" class="form-control" id="textarea" rows="6"></textarea>
                    </div>
                </div>



            </div>
            <footer class="card-footer text-right">
                <a href="{% url 'social:index'%}" class="btn btn-secondary" type="reset">Cancelar</a>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </footer>

        </form>

    </div>

</div>


{% endblock %}



{% block js %}
<script type="text/javascript">

document.getElementById("e").className = document.getElementById("e").className + " active open";
document.getElementById("el").className = document.getElementById("el").className + " active";
</script>
{% endblock %}

